<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bink.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>17652D956E61E5452FA6DA4C604B97FCCE17B7E1</string>
				<key>dateExpires</key>
				<string>2027-01-12</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17652D956E61E5452FA6DA4C604B97FCCE17B7E1</string>
						<key>dateExpires</key>
						<string>2027-01-12</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D75C2234S4</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17652D956E61E5452FA6DA4C604B97FCCE17B7E1</string>
						<key>dateExpires</key>
						<string>2027-01-12</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactNativeDependencies.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D75C2234S4</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17652D956E61E5452FA6DA4C604B97FCCE17B7E1</string>
						<key>dateExpires</key>
						<string>2027-01-12</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D75C2234S4</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>D75C2234S4.sa.devnext.bink</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>D75C2234S4</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Bink.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a53eb376-4c78-4f59-ac6a-9fd0cd9b3f53</string>
				<key>dateExpires</key>
				<string>2027-09-03</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: sa.devnext.bink</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>D75C2234S4</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
